{"CMSIP": "168.63.241.212", 
"APIURL_Live": "http://vuclip.cloudapp.net/API/",
"APIURL_Testing": "http://vuclip.cloudapp.net/API/",
"APIURL_LiveCom": "http://vuclip.cloudapp.net/API/",
"APIURL_TestingCom": "http://vuclip.cloudapp.net/API/",
"APIURL_LiveOld": "http://vuclip.cloudapp.net/API/",
"DatabaseFilePath": "/home/box/content/pythonlogger.py/data.db",
"BOXIP": "192.168.5.1", 
"AccessLogFilePath": "/var/log/squid3/access.log", 
"SyncDBFilePath_Live": "/media/usb0/moovah/Live/AppDB/khooloo.sqlite",  
"SyncDBFilePath_Testing": "/media/usb0/moovah/Testing/AppDB/khooloo.sqlite",
"WhitelistFilePath": "/etc/squid3/whitelist",
"FreeLimitSeconds": "300",
"Mode": "2"}
